.dot {

    &--small {
        background-color: $color-dot;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        margin: 0 5px;

        &:hover, &.is-active {
            background-color: $color-black-light;
            cursor: pointer;
        }
    }
}