.footer {
    &__list {
        list-style-type: none;
        margin: 0;
    }

    &__link {
        font-size: 16px;
        color: $color-black;
        display: inline-block;
        margin-bottom: 15px;
        font-weight: 500;
        text-decoration: none;
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}