.section {
    text-align: center;
    margin: 0;
    padding: 1px 0;

    &--cyan {
        background-color: $color-primary-light;
    }

    &--white {
        background-color: $color-white;
    }
}