.section {
    margin: 0;
    padding: 30px 0;

    &--cyan {
        background-color: $color-blue;
    }

    &--white {
        background-color: $color-white;
    }

    &--pink {
        background-color: $color-pink;
    }

    &__image {
        &--small {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
    }
   
}