.university {
    background-color: $color-white;
    border-radius: 6px;
    border: solid 1px $color-gray-dark;
    width: 300px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content:  center;
}