/* COLORS */
$color-primary: #00b3ef;
$color-blue: #d9f1f8;
$color-primary-dark: #13bdd3f3;
$color-gray: #696969;
$color-gray-light: #f9f9f9;

$color-black: #000;
$color-black-light: #1d2027;
$color-white: #fff;
$color-pink: #fcdef8;